---
import styles from './hero.module.css'
import GithubIcon from '../icons/github-icon.astro'
import LinkedinIcon from '../icons/linkedin-icon.astro'

const links = [
  {
    href: 'https://github.com/taroj1205',
    icon: GithubIcon,
    label: 'GitHub',
    isPrimary: true,
  },
  {
    href: 'https://www.linkedin.com/in/taroj/',
    icon: LinkedinIcon,
    label: 'LinkedIn',
    isPrimary: false,
  },
]
---

<div class={styles.hero__links}>
  {
    links.map(({ href, icon: Icon, label, isPrimary }, index) => (
      <div
        class={`${styles.hero__link_wrapper} ${index === 1 ? styles.hero__link_wrapper__delayed : ''}`}
      >
        <a
          href={href}
          class={`${styles.hero__link} ${isPrimary ? styles.hero__link__primary : styles.hero__link__secondary}`}
          target="_blank"
        >
          <Icon class={styles.hero__link_icon} />
          {label}
        </a>
      </div>
    ))
  }
</div>
