---
import styles from './hero.module.css'
import AnimatedLinks from './animated-links.astro'
import { getUI } from '@/utils/i18n.astro'

const { lang } = Astro.params

const {
  sections: { hero },
} = getUI(lang)

const { class: className, animation = true, ...props } = Astro.props
---

<div class={styles.hero__display} {...props}>
  <div class={styles.hero__content}>
    <h1 class={styles.hero__title}>{hero.title}</h1>
    <p class={styles.hero__description}>{hero.description}</p>
  </div>
  <AnimatedLinks />
</div>