---
import { getUI } from '@/utils/i18n.astro'
import { Briefcase, Code, GraduationCap } from 'lucide-astro'

const { lang } = Astro.params

const { sections, experiences } = getUI(lang)

const experiencesArray = [
  {
    title: experiences.teacherYago.title,
    company: experiences.teacherYago.organization,
    type: experiences.teacherYago.contract,
    date: experiences.teacherYago.dates,
    location: experiences.teacherYago.location,
    description: experiences.teacherYago.description,
    icon: Briefcase,
  },
  {
    title: experiences.openSourceContributor.title,
    company: experiences.openSourceContributor.organization,
    type: experiences.openSourceContributor.volunteer,
    date: experiences.openSourceContributor.dates,
    location: experiences.openSourceContributor.location,
    description: experiences.openSourceContributor.description,
    icon: Code,
  },
  {
    title: experiences.teacherAid.title,
    company: experiences.teacherAid.organization,
    type: experiences.teacherAid.partTime,
    date: experiences.teacherAid.dates,
    location: experiences.teacherAid.location,
    description: experiences.teacherAid.description,
    icon: GraduationCap,
  },
]

const { class: className, ...props } = Astro.props
---

<section class={className} {...props}>
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-4 px-4"
  >
    <div class="space-y-4 text-center">
      <h2
        class="animate-fade-up text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
      >
        {sections.experiences.title}
      </h2>
      <p
        class="max-w-[800px] animate-fade-up text-xl text-muted-foreground duration-700 md:text-2xl/relaxed"
      >
        {sections.experiences.description}
      </p>
    </div>
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        experiencesArray.map(
          ({
            title,
            company,
            type,
            date,
            location,
            description,
            icon: Icon,
          }) => (
            <div class="overflow-hidden rounded-lg bg-white shadow-md transition-all duration-300 hover:shadow-lg">
              <div class="p-6">
                <div class="mb-2 flex items-center justify-between">
                  <h3 class="text-xl font-semibold">{title}</h3>
                  {Icon && <Icon class="h-5 w-5" />}
                </div>
                <p class="mb-2 text-gray-600">{company}</p>
                <div class="mb-2 flex flex-wrap gap-2">
                  <span class="inline-flex w-fit items-center whitespace-nowrap rounded-full border border-transparent bg-secondary px-2.5 py-0.5 text-xs font-semibold text-secondary-foreground transition-colors hover:bg-secondary/80 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">
                    {type}
                  </span>
                  <span class="inline-flex w-fit items-center whitespace-nowrap rounded-full border px-2.5 py-0.5 text-xs font-semibold text-foreground transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">
                    {date}
                  </span>
                </div>
                <p class="mb-2 text-sm text-gray-500">{location}</p>
                <p class="text-sm">{description}</p>
              </div>
            </div>
          )
        )
      }
    </div>
  </div>
</section>
