---
import { getUI } from '@/utils/i18n.astro'
import { Briefcase, Code, GraduationCap } from 'lucide-astro'
import styles from './experiences.module.css'

const { lang } = Astro.params

const { sections, experiences } = getUI(lang)

const experiencesArray = [
  {
    title: experiences.teacherYago.title,
    company: experiences.teacherYago.organization,
    type: experiences.teacherYago.contract,
    date: experiences.teacherYago.dates,
    location: experiences.teacherYago.location,
    description: experiences.teacherYago.description,
    icon: Briefcase,
  },
  {
    title: experiences.openSourceContributor.title,
    company: experiences.openSourceContributor.organization,
    type: experiences.openSourceContributor.volunteer,
    date: experiences.openSourceContributor.dates,
    location: experiences.openSourceContributor.location,
    description: experiences.openSourceContributor.description,
    icon: Code,
  },
  {
    title: experiences.teacherAid.title,
    company: experiences.teacherAid.organization,
    type: experiences.teacherAid.partTime,
    date: experiences.teacherAid.dates,
    location: experiences.teacherAid.location,
    description: experiences.teacherAid.description,
    icon: GraduationCap,
  },
]

const { class: className, ...props } = Astro.props
---

<section class={`${styles.experiences} ${className}`} {...props}>
  <div class={styles.experiences__container}>
    <div class={styles.experiences__header}>
      <h2 class={styles.experiences__title}>
        {sections.experiences.title}
      </h2>
      <p class={styles.experiences__description}>
        {sections.experiences.description}
      </p>
    </div>
    <div class={styles.experiences__grid}>
      {
        experiencesArray.map(
          ({
            title,
            company,
            type,
            date,
            location,
            description,
            icon: Icon,
          }) => (
            <div class={styles.experiences__card}>
              <div class={styles['experiences__card-content']}>
                <div class={styles['experiences__card-header']}>
                  <h3 class={styles['experiences__card-title']}>{title}</h3>
                  {Icon && <Icon class={styles['experiences__card-icon']} />}
                </div>
                <p class={styles['experiences__card-company']}>{company}</p>
                <div class={styles['experiences__card-tags']}>
                  <span
                    class={`${styles['experiences__card-tag']} ${styles['experiences__card-tag--primary']}`}
                  >
                    {type}
                  </span>
                  <span class="inline-flex w-fit items-center whitespace-nowrap rounded-full border px-2.5 py-0.5 text-xs font-semibold text-foreground transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2">
                    {date}
                  </span>
                </div>
                <p class="mb-2 text-sm text-gray-500">{location}</p>
                <p class="text-sm">{description}</p>
              </div>
            </div>
          )
        )
      }
    </div>
  </div>
</section>
