---
import { cn } from '@/lib/utils'
import { Image } from 'astro:assets'
import { generateSizesAndWidths } from '@/utils/image'
import { getUI } from '@/utils/i18n.astro'
import { marked } from 'marked'
import { JOURNEYIMAGES } from './journey.astro'
import style from './journey.module.css'

const { lang } = Astro.params

const { class: className, ...props } = Astro.props
const { journey, sections } = getUI(lang)
---

<section class={className} {...props}>
  <div class={style.journey__container}>
    <div class={style.journey__header}>
      <h2 class={style.journey__title}>{sections.journey.title}</h2>
      <p class={style.journey__description}>{sections.journey.description}</p>
    </div>
    <div class={style.journey__grid}>
      <div class={style.journey__timeline}></div>
      {
        journey.events
          .slice()
          .sort((a, b) => b.date.localeCompare(a.date))
          .map((event, index) => (
            <div
              class={cn(style.journey__event, {
                [style['journey__event--even']]: index % 2 === 1,
              })}
              style={`--animation-delay: ${index};`}
            >
              <div class={style.journey__event_content}>
                <div class={style.journey__event_inner}>
                  <span class={style.journey__event_timestamp}>
                    {event.timestamp}
                  </span>
                  <h3 class={style.journey__event_title}>{event.title}</h3>
                  <div
                    class={style.journey__event_description}
                    set:html={marked(event.description)}
                  />
                  {event.image &&
                    (() => {
                      const image =
                        JOURNEYIMAGES[event.image as keyof typeof JOURNEYIMAGES]
                      return (
                        <Image
                          src={image}
                          alt={event.title}
                          class={style.journey__event_image}
                          loading="lazy"
                          {...generateSizesAndWidths(image.width, image.height)}
                        />
                      )
                    })()}
                </div>
              </div>
              <div class={style.journey__event_dot}>
                <div class={style.journey__event_dot_inner} />
              </div>
              <div class={style.journey__event_spacer} />
            </div>
          ))
      }
    </div>
    <a href={lang === 'ja' ? '/ja' : '/'} class={style.journey__back_button}>
      Go Back
    </a>
  </div>
</section>
