---
import { cn } from '@/lib/utils'
import { Image } from 'astro:assets'
import { generateSizesAndWidths } from '@/utils/image'
import { getUI } from '@/utils/i18n'
import { marked } from 'marked'
import { JOURNEYIMAGES } from './journey.astro'

const { class: className, ...props } = Astro.props
const { journey } = getUI('en')

const htmlDescriptions = journey.events.map((event) =>
  marked(event.description)
)
---

<section class={cn('w-full', className)} {...props}>
  <div id="journey-section" class="container px-4 md:px-6">
    <div class="flex flex-col items-center justify-center gap-4 text-center">
      <h2
        class="animate-fade-up text-3xl font-bold tracking-tighter transition-transform sm:text-4xl md:text-5xl"
      >
        A Global Odyssey
      </h2>
      <p
        class="max-w-[900px] animate-fade-up text-muted-foreground transition-transform duration-700 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        From the bustling streets of Tokyo to the serene landscapes of New
        Zealand, my journey has been one of resilience, exploration, and growth.
        Each chapter, marked by both triumphs and challenges, reflects my
        dedication to learning, adapting, and making an impact across diverse
        cultures and communities. This timeline showcases the pivotal moments
        that have shaped my life, guiding me toward a future filled with
        potential.
      </p>
      <div id="journey-grid" class="relative mt-12 w-full max-w-4xl">
        <div
          class="absolute bottom-0 left-4 top-0 hidden w-1 -translate-x-1/2 transform animate-fade-up bg-gradient-to-b from-primary to-primary-foreground transition-opacity duration-500 md:left-1/2 md:block md:translate-x-0"
        >
        </div>

        {
          journey.events.map((event, index) => (
            <div
              class={cn(
                `duration-[${index} * 200ms] mb-8 flex animate-fade-up flex-col items-center transition-opacity duration-500 md:mb-16 md:flex-row md:even:flex-row-reverse`
              )}
            >
              <div class="group mb-4 w-full transform bg-card text-left shadow-md transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg md:mb-0 md:w-1/2 md:pr-8 md:even:pl-8 md:even:pr-0 md:even:text-right">
                <div class="rounded-lg p-4">
                  <span class="inline-block rounded-full bg-primary px-4 py-2 text-sm font-semibold text-primary-foreground">
                    {event.timestamp}
                  </span>
                  <h3 class="mt-3 text-xl font-bold">{event.title}</h3>
                  <div
                    class="prose mt-1 text-muted-foreground"
                    set:html={htmlDescriptions[index]}
                  />
                  {event.image
                    ? (() => {
                        const image =
                          JOURNEYIMAGES[
                            event.image as keyof typeof JOURNEYIMAGES
                          ]
                        return (
                          <Image
                            src={image}
                            alt={event.title}
                            class="mt-4 max-h-[300px] w-fit rounded-lg object-contain shadow-md"
                            loading="lazy"
                            {...generateSizesAndWidths(
                              image.width,
                              image.height
                            )}
                          />
                        )
                      })()
                    : null}
                </div>
              </div>

              <div class="relative hidden h-8 w-8 place-items-center md:mx-4 md:grid">
                <div
                  class={cn(
                    'absolute z-10 h-6 w-6 -translate-x-1/2 transform rounded-full border-4 border-primary bg-background transition-transform duration-500 md:translate-x-0',
                    index % 2 === 0 && 'md:translate-x-1'
                  )}
                />
              </div>

              <div class="flex w-full items-center pl-8 md:w-1/2 md:pl-0" />
            </div>
          ))
        }
      </div>
      <a
        href="/"
        id="go-home"
        class="inline-flex h-9 w-96 max-w-[90%] items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
      >
        Go Back
      </a>
    </div>
  </div>
</section>
